<!DOCTYPE html>
<html>

	<head>
		<title>
			Employee Client
		</title>
		<link href="../../../css/bootstrap.css" rel="stylesheet> </link>
		<script src="../../../javascript/angular.js"></script>
		
		
	</head>
	<body>
		<div class="container ng-controller="EmployeeController">
			<h1> Employee Client</h1>
			<a href=""http://localhost:3000/employees"
			<h2>Projects</h2>
			<table class="table">
			<thead>
				<tr ng-repeat="employee in employees">
				
						<th>Frist Name</th>
						<th>Last Name</th>
						<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="employee in employees">
					<td>{{employee.first}}</td>
					<td>{{employee.second}}</td>
				</tr>
			</tbody>
		</div>
		<script>
				function EmployeeController($scope, $http) {
				$http.get("hhtp://localhost:3000/employees")
				<!-- $http.jsonp("hhtp://localhost:3000/employees?callback=bar")  downloading from different domain which might contain scripts-->
				.success(function (employees) {
					console.log(employees);
					});
				
				$scope.select = function(employee) {
					$scope.projects = employee.projects;
					}
				}
		</script>
		
		
		
		
		
	</body>
</html>